@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofiendalsvej 60<br />
    Aalborg, 9000<br />
    <abbr title="Phone">P:</abbr>
    88 88 88 88
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thebest@team.com">thebest@team.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:theverybest@team.com">theverybest@team.com</a>
</address>