<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="barServiceHttp" />
                <binding name="locationServiceHttp" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="managerServiceTcp" />
                <binding name="barServiceTcp" />
                <binding name="locationServiceTcp" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:42001/barServiceTCP" binding="netTcpBinding"
                bindingConfiguration="barServiceTcp" contract="BarServiceReference.IBarService"
                name="barServiceTcp">
                <identity>
                    <userPrincipalName value="LAPTOP-JTT004BD\mwe1" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:43001/barServiceHttp" binding="basicHttpBinding"
                bindingConfiguration="barServiceHttp" contract="BarServiceReference.IBarService"
                name="barServiceHttp" />
            <endpoint address="net.tcp://localhost:42002/locationServiceTcp"
                binding="netTcpBinding" bindingConfiguration="locationServiceTcp"
                contract="LocationServiceReference.ILocationService" name="locationServiceTcp">
                <identity>
                    <userPrincipalName value="LAPTOP-JTT004BD\mwe1" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:43002/locationServiceHttp"
                binding="basicHttpBinding" bindingConfiguration="locationServiceHttp"
                contract="LocationServiceReference.ILocationService" name="locationServiceHttp" />
            <endpoint address="net.tcp://localhost:42003/managerService"
                binding="netTcpBinding" bindingConfiguration="managerServiceTcp"
                contract="ManagerServiceReference.IManagerService" name="managerServiceTcp">
                <identity>
                    <userPrincipalName value="LAPTOP-JTT004BD\mwe1" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>