<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="MixMixConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MixMix;Integrated Security=True;"/>-->
    <add name="MixMixConnectionString" connectionString="Data Source = DESKTOP-LKPVQ3R; Initial Catalog = MixMix; Integrated Security = True;"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <!-- Skema for porte 
      TCP = 42001-42999
      HTTP = 43001-43999
      -->
      <!-- Alle Endpoints bør have et navn, specielt hvis der er flere på en service
      Dette gør at vi kan bestemme hvilken binding vi bruger i klienten example: 
      ServiceClient svc = new ServiceClient("INSERTNAME")
      -->
      <!--BarService -->
      <service name="WcfServiceLibrary.BarService">
        <endpoint name="barServiceTcp" address="barServiceTCP" binding="netTcpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IBarService" />
        <endpoint name="barServiceHttp" address="barServiceHttp" binding="basicHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IBarService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" /> <!--Hvis "mex" bliver renamet skal man være explicit når man discover referencen, da wizarden søger efter "mex" per default.-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:42001"/>
            <add baseAddress="http://localhost:43001"/>
          </baseAddresses>
        </host>
      </service>
      
      <!--LocationService -->
      <service name="WcfServiceLibrary.LocationService">
        <endpoint name="locationServiceTcp" address="locationServiceTcp" binding="netTcpBinding" contract="WcfServiceLibrary.ServiceInterfaces.ILocationService"/>
        <endpoint name="locationServiceHttp" address="locationServiceHttp" binding="basicHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.ILocationService"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:42002"/>
            <add baseAddress="http://localhost:43002"/>
          </baseAddresses>
        </host>
      </service>

      <!--CustomerService -->
      <service name="WcfServiceLibrary.CustomerService">
        <endpoint name="customerServiceHttp" address="customerService" binding="basicHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.ICustomerService"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:43003"/>
          </baseAddresses>
        </host>
      </service>

      <!--ManagerService-->
      <service name="WcfServiceLibrary.ManagerService">
        <endpoint name="managerServiceTcp" address="managerService" binding="netTcpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IManagerService"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:42003"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
      <!--Behaviors -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>