<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="MixMixConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MixMix;Integrated Security=True;"/>
    <!--<add name="MixMixConnectionString" connectionString="Data Source = DESKTOP-LKPVQ3R; Initial Catalog = MixMix; Integrated Security = True;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <!-- Skema for porte 
      TCP = 42001-42999
      HTTP = 43001-43999
      -->
      <!-- Alle Endpoints bør have et navn, specielt hvis der er flere på en service
      Dette gør at vi kan bestemme hvilken binding vi bruger i klienten example: 
      ServiceClient svc = new ServiceClient("INSERTNAME")
      -->
      <!--BarService -->
      <service name="WcfServiceLibrary.BarService" behaviorConfiguration="SecureBehavior">
        <endpoint name="barServiceTcp" address="barServiceTCP" binding="netTcpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IBarService" />
        <endpoint name="barServiceHttp" address="barServiceHttp" binding="wsHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IBarService" bindingConfiguration="SecureBindingHttps" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <!--Hvis "mex" bliver renamet skal man være explicit når man discover referencen, da wizarden søger efter "mex" per default.-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:42001"/>
            <add baseAddress="https://localhost:43001"/>
          </baseAddresses>
        </host>
      </service>

      <!--LocationService -->
      <service name="WcfServiceLibrary.LocationService" behaviorConfiguration="SecureBehavior">
        <endpoint name="locationServiceTcp" address="locationServiceTcp" binding="netTcpBinding" contract="WcfServiceLibrary.ServiceInterfaces.ILocationService"/>
        <endpoint name="locationServiceHttp" address="locationServiceHttp" binding="wsHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.ILocationService" bindingConfiguration="SecureBindingHttps"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:42002"/>
            <add baseAddress="https://localhost:43002"/>
          </baseAddresses>
        </host>
      </service>

      <!--CustomerService -->
      <service name="WcfServiceLibrary.CustomerService" behaviorConfiguration="SecureBehavior">
        <endpoint name="customerServiceHttp" address="customerService" binding="wsHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.ICustomerService" bindingConfiguration="SecureBindingHttps"/>
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:43003"/>
          </baseAddresses>
        </host>
      </service>

      <!--ManagerService-->
      <service name="WcfServiceLibrary.ManagerService" behaviorConfiguration="OldBehavior">
        <endpoint name="managerServiceTcp" address="managerService" binding="netTcpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IManagerService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:42003"/>
          </baseAddresses>
        </host>
      </service>

      
      
      <!--OrderService--> 
      <service name="WcfServiceLibrary.OrderService" behaviorConfiguration="SecureBehavior">
        <endpoint name="orderServiceHttp" address="orderService" binding="wsHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IOrderService" bindingConfiguration="SecureBindingHttps" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:43005"/>
          </baseAddresses>
        </host>
      </service>
    
      <!--CreateCustomerService-->
      <service name="WcfServiceLibrary.CustomerCreateService" behaviorConfiguration="SecureBevaiorAuth">
        <endpoint name="customerCreateService" address="customerCreateService" binding="wsHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.ICreateCustomerService" bindingConfiguration="SecureAuthEndpoint" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:43006"/>
          </baseAddresses>
        </host>
      </service>
      
      <!--DrinkService--> 
      <service name="WcfServiceLibrary.DrinkService" behaviorConfiguration="SecureBehavior">
        <endpoint name="drinkServiceHttps" address="SecureService" binding="wsHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IDrinkService" bindingConfiguration="SecureBindingHttps"/>
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:43004"/>
          </baseAddresses>
        </host>
      </service>
      
      <!--AuthService-->
      <service name="WcfServiceLibrary.AuthService" behaviorConfiguration="SecureBevaiorAuth">
      <endpoint address="SecureAuthService" binding="wsHttpBinding" contract="WcfServiceLibrary.ServiceInterfaces.IAuthService" bindingConfiguration="SecureAuthEndpoint"/>
      <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:43999/"   />
          </baseAddresses>
        </host>
      </service>
      
    
    </services>

    <!--Behaviors -->
    <behaviors>
      <serviceBehaviors>
        <behavior name ="OldBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        
        
        <behavior name="SecureBehavior">
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="bf7fa4efe99e6ded006f1c4336fd228736984940" storeName="My" storeLocation="LocalMachine"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfServiceLibrary.MyPasswordValidator, WcfServiceLibrary" />
          </serviceCredentials>
        </behavior>

        <behavior name="SecureBevaiorAuth">
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="bf7fa4efe99e6ded006f1c4336fd228736984940" storeName="My" storeLocation="LocalMachine" />
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        
      </serviceBehaviors>
    </behaviors>

    
    <!--Bindings-->
    <bindings>
      <wsHttpBinding>
        
        <binding name="SecureBindingHttps">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>

        <binding name="SecureAuthEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        
      </wsHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>