<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="customerServiceHttp" />
        <binding name="barServiceHttp" />
        <binding name="orderServiceHttp" />
        <binding name="drinkServiceHttp" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="barServiceTcp" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="barServiceHttp1">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="customerServiceHttp1">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="drinkServiceHttps">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="orderServiceHttp1">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAuthService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="customerCreateService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:43004/drinkService" binding="basicHttpBinding"
        bindingConfiguration="drinkServiceHttp" contract="DrinkServiceReference.IDrinkService"
        name="drinkServiceHttp" />
      <endpoint address="https://localhost:43003/customerService" binding="wsHttpBinding"
        bindingConfiguration="customerServiceHttp1" contract="CustomerServiceReference.ICustomerService"
        name="customerServiceHttp" />
      <endpoint address="https://localhost:43004/SecureService" binding="wsHttpBinding"
        bindingConfiguration="drinkServiceHttps" contract="DrinkServiceReference.IDrinkService"
        name="drinkServiceHttps" />
      <endpoint address="https://localhost:43005/orderService" binding="wsHttpBinding"
        bindingConfiguration="orderServiceHttp1" contract="OrderServiceReference.IOrderService"
        name="orderServiceHttp" />
      <endpoint address="https://localhost:43999/SecureAuthService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService"
        contract="AuthService.IAuthService" name="WSHttpBinding_IAuthService" />
      <endpoint address="https://localhost:43006/customerCreateService"
        binding="wsHttpBinding" bindingConfiguration="customerCreateService"
        contract="CustomerCreateServiceReference.ICreateCustomerService"
        name="customerCreateService" />
      <endpoint address="net.tcp://localhost:42001/barServiceTCP" binding="netTcpBinding"
        bindingConfiguration="barServiceTcp" contract="BarServiceRerefence.IBarService"
        name="barServiceTcp">
        <identity>
          <userPrincipalName value="DESKTOP-J0BISU1\madse" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:43001/barServiceHttp" binding="wsHttpBinding"
        bindingConfiguration="barServiceHttp1" contract="BarServiceRerefence.IBarService"
        name="barServiceHttp" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
