
@{
    ViewBag.Title = "CreateOrder";
}
<div class="container">
    <div class="center_container">
        <div class="col-xs-12">
            <h3>Dit ordre nummer er: @ViewBag.OrderNumber</h3>
        </div>
    </div>
</div>